<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="flexHeader">
  <h3>Upcoming Events</h3>
  <button #newEventBtn mat-raised-button disabled="true" color="primary" routerLink="/neweditevent">New Event</button>
</div>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div>
  
  <!--we could use observable datasource with connect and disconnect, 
  but for now its just the array, so we have to call renderRows() on table on change-->
  <table class="styled-table" #upcoming mat-table [dataSource]="dataSource" mat-elevation-z8>

    <!--If no data or not logged in-->
    <h3 *matNoDataRow>Please log in to see upcoming events</h3>

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Eventname Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Eventname </th>
      <td mat-cell *matCellDef="let event"><mat-icon>event</mat-icon> {{event.event}} </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let event"><mat-icon>location_on</mat-icon> {{event.location}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="fromDate">
      <th mat-header-cell *matHeaderCellDef> From Date </th>
      <td mat-cell *matCellDef="let event" ><mat-icon>access_time</mat-icon> {{event.fromDate | date:'medium'}} </td>
      <td></td>
    </ng-container>
    <!-- Date Column -->
    <ng-container matColumnDef="toDate">
      <th mat-header-cell *matHeaderCellDef> To Date </th>
      <td mat-cell *matCellDef="let event">
        <mat-icon>access_time</mat-icon> {{event.toDate | date: 'medium'}}</td>
      <td></td>
    </ng-container>
    <!--Description Column-->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let event"><mat-icon>description</mat-icon> {{event.description}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <!-- Using ngIfElse, if status is true it is a draft, else show #published -->
      <td mat-cell *matCellDef="let event"><mat-cell *ngIf="event.status == true; else published"> Draft </mat-cell> 
        <mat-cell #published > Published </mat-cell> 
      </td>
      

    </ng-container>
  
    <!-- Edit button Column-->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let event">
        <app-event [event]="event" (eventClicked)="editEvent($event)"></app-event>
      </td>
    </ng-container>

    <!-- maybe [colSpan]="displayedColumns.length" to make better layout ? -->
    <tr [colSpan]="displayedColumns.length" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #upcomingPaginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
  </mat-paginator>

</div>
