
<div class="flexHeader">
  <h3>Events</h3>   
  <button mat-raised-button color="primary" routerLink="/neweditevent" id="newEventBtn">New Event</button>
</div>


<table>
    <td>ID</td>
    <td>Event</td>
    <td>Location</td>
    <td>Date</td>
    <td>Status</td>
    <td>Edit</td>
  <tr *ngFor="let event of events">
    <td>{{ event.id }}</td>
    <td>{{ event.event }}</td>
    <td>{{ event.location }}</td>
    <td>{{ event.date }}</td>
    <td>{{ event.status }}</td>
    <td><app-event [event]="event" (eventClicked)="editEvent($event)"></app-event></td>
  </tr>
</table>