<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h3>{{headerTitle}}</h3>

<form [formGroup]="eventForm" (ngSubmit)="onSubmitEvent()">
  
  <mat-form-field class="example-full-width">
    <mat-label>Event</mat-label>
    <textarea matInput id="eventInput" placeholder="Event" formControlName="event"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Location</mat-label>
    <textarea matInput id="locationInput" placeholder="Write your event" formControlName="location"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput id="descriptionInput" placeholder="Write about your event" formControlName="description"></textarea>
  </mat-form-field>


  <div class="example-wrapper">
    <label class="example-input-wrapper">
      Date Time Range From:
      <input class="input-wrapper" formControlName="fromDate" placeholder="Date Time Range From:" [selectMode]="'rangeFrom'"
        [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2">
      <owl-date-time  #dtRange2></owl-date-time>
    </label>
  
    <label class="example-input-wrapper">
      Date Time Range To:
      <input class="input-wrapper" formControlName="toDate" placeholder="Date Time Range To:" [selectMode]="'rangeTo'"
        [owlDateTimeTrigger]="dtRange3" [owlDateTime]="dtRange3">
      <owl-date-time  #dtRange3></owl-date-time>
    </label>
 
    <h4>Value From Picker: {{eventForm.value.fromDate[0]}} to {{eventForm.value.toDate[1]}}</h4>
  </div>

  <h4>Save as:</h4>
  <mat-form-field appearance="fill">
    <mat-select id="StatusInput" placeholder="status" formControlName="status">
      <mat-option value="Draft">Draft</mat-option> 
      <mat-option value="Published">Published</mat-option>
      <mat-option value="Expired">Expired</mat-option>
      <mat-option value="Cancelled">Cancelled</mat-option>
    </mat-select>
  </mat-form-field>


  <section class = "status-section">
  <mat-slide-toggle>Pinned</mat-slide-toggle>
  </section>

  <section class = "example-section">
  <select>Responsible</select>
  </section>

  <section class = "example-section">
    <select>Collaboration</select>
    </section>

<div class="button-wrapper">
  <button mat-raised-button id="saveEvent" color="primary">Save</button>
</div>
  
<div class="button-wrapper">
  <button mat-raised-button id="deleteEvent" color="warn" type="button" (click)="onDeleteEvent()">Delete Event</button>
</div>

</form>
