*{
    margin: 0;
    padding: 5px;
    outline: 0;
}

.input-wrapper {
    text-align: center;
}

.example-input-wrapper {
    display: list-item;
}

.button-wrapper {
    display: inline;
}

.status-section {
    display: inline;
}