<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h3>{{headerTitle}}</h3>

<form [formGroup]="eventForm" (ngSubmit)="onSubmitEvent()">
  
  <mat-form-field class="example-full-width">
    <mat-label>Event</mat-label>
    <textarea matInput id="eventInput" placeholder="Event" formControlName="event"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Location</mat-label>
    <textarea matInput id="locationInput" placeholder="Write your event" formControlName="location"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput id="descriptionInput" placeholder="Write about your event" formControlName="description"></textarea>
  </mat-form-field>


  <div class="example-wrapper">
    <label class="example-input-wrapper">
      Date Time Range From:
      <input class="input-wrapper" formControlName="fromDate" placeholder="Date Time Range From:" [(ngModel)]="dateTimeRange" [selectMode]="'rangeFrom'"
        [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2">
      <owl-date-time #dtRange2></owl-date-time>
    </label>
  
    <label class="example-input-wrapper">
      Date Time Range To:
      <input class="input-wrapper" fromControlName="toDate" placeholder="Date Time Range To:" [(ngModel)]="dateTimeRange" [selectMode]="'rangeTo'"
        [owlDateTimeTrigger]="dtRange3" [owlDateTime]="dtRange3">
      <owl-date-time #dtRange3></owl-date-time>
    </label>
 
    <h4>Value From Picker: {{dateTimeRange}}</h4>
  </div>

  <section class="status-section">
    <mat-checkbox class="example-margin" matInput id="StatusInput" placeholder="status" formControlName="status">Save as draft</mat-checkbox>
  </section> 

  <section class = "status-section">
  <mat-slide-toggle>Pinned</mat-slide-toggle>
  </section>

  <section class = "example-section">
  <select>Responsible</select>
  </section>

  <section class = "example-section">
    <select>Collaboration</select>
    </section>

<div class="button-wrapper">
  <button mat-raised-button id="saveEvent" color="primary">Save</button>
</div>
  
<div class="button-wrapper">
  <button mat-raised-button id="deleteEvent" color="warn" type="button" (click)="onDeleteEvent()">Delete Event</button>
</div>

</form>
